@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}

html, body {
    height: 100%;
    background-color: white;
    scroll-behavior: smooth;
}

header {
    background-color: black;
    padding-top: .5%;
    padding-bottom: 0%;
    width: 100%;
    height: 10%;
    font-family: var(--font-sans);
}

header a:hover {
    color: white;
    text-decoration: none;
}

header a:hover span {
    display: none;
}

header a.logo:hover::before {
    content: "\00a0\00a0\00a0;\00a0\00a0\00a0";
}

.header-right {
    float: right;
    padding-top: .6%;
    padding-right: 1%;
}

.header-right a:hover {
    font-size: large;
    color: white;
    text-decoration: none;
}

.logo {
    font-size: xx-large;
    color: white;
    padding-top: 0%;
    padding-left: 1%;
}
.link {
    color: white;
    padding-left: 10px;
}

.intro{
    background-color: black;
    padding-top: 12%;
    height: 100%;
    width: 100%;
    color: white;
}

//intro text
.container {
    justify-content: center;
    align-items: center;
    display: flex;
}
.text {
    font-weight: 100;
    font-size: 75px;
    color: white;
}
.dud {
    color: #fff;
}

.text:hover::before {
    background: url('../assets/milky-way-2881461.jpg');
}

// dots
#dots-1 {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-top: -95px;
    margin-left: -375px;
}

#dots-2 {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-top: -95px;
    margin-left: -375px;
}

#rose {
    position: absolute;
    top: 70%;
    left: 50%;
    margin-top: -95px;
    margin-left: -375px;
}

//scroll symbol
#scroll a {
    padding-top: 80px;
  }
  #scroll a span {
    position: absolute;
    top: 50%;
    left: 90%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: scr 2s infinite;
    animation: scr 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  #scroll a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  #scroll a span:nth-of-type(2) {
    top: 51%;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  #scroll a span:nth-of-type(3) {
    top: 52%;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }
  @-webkit-keyframes scr {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes scr {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

//about me
.about{
    text-align: center;
    background-color: white;
    padding-top: 2%;
    height: 100%;
    font-family: var(--font-sans);
}

.about-text {
    float: left;
    position: relative;
}

.about h5 {
    text-align: left;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 40%;
}

.showcase {
  position: absolute;
  float: left;
  background-color: black;
  top: 120%;
  left: 67%;
  width: 15vw;
  height: 17vw;
  z-index: 3;
}

.profile {
  margin-top: 1.5vw;
}

.back-showcase {
  position: absolute;
  float: left;
  top: 122%;
  left: 69%;
  width: 15vw;
  height: 17vw;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% 200%;
  -webkit-animation: gradient 10s ease infinite;
          animation: gradient 10s ease infinite;
  z-index: 2;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*# sourceMappingURL=main.css.map */

.section-1 {
  text-align: center;
  font-family: var(--font-sans);
}

.section-2 {
  padding-top: 1%;
  text-align: center;
  font-family: var(--font-sans);
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
}

.page-content-projects {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content-projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content-projects {
    grid-template-columns: repeat(3, 1fr); /* Changes number of items per row*/
  }
}

.card-projects {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card-projects {
    height: 350px;
  }
}
.card-projects:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e), -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card-projects:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(11.7%, rgba(0, 0, 0, 0.009)), color-stop(22.1%, rgba(0, 0, 0, 0.034)), color-stop(31.2%, rgba(0, 0, 0, 0.072)), color-stop(39.4%, rgba(0, 0, 0, 0.123)), color-stop(46.6%, rgba(0, 0, 0, 0.182)), color-stop(53.1%, rgba(0, 0, 0, 0.249)), color-stop(58.9%, rgba(0, 0, 0, 0.32)), color-stop(64.3%, rgba(0, 0, 0, 0.394)), color-stop(69.3%, rgba(0, 0, 0, 0.468)), color-stop(74.1%, rgba(0, 0, 0, 0.54)), color-stop(78.8%, rgba(0, 0, 0, 0.607)), color-stop(83.6%, rgba(0, 0, 0, 0.668)), color-stop(88.7%, rgba(0, 0, 0, 0.721)), color-stop(94.1%, rgba(0, 0, 0, 0.762)), to(rgba(0, 0, 0, 0.79)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e), -webkit-transform calc(var(--d) * 2) var(--e);
}

/* Project Pictures */
.card-projects:nth-child(1):before {
  background-image: url("../assets/");
  width: 90%;
  height: 70%;
}
.card-projects:nth-child(2):before {
  background-image: url("../assets/");
  width: 101%;
  height: 70%;
}
.card-projects:nth-child(3):before {
  background-image: url("../assets/");
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  margin-top: 2%;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: .1;
}

.timeframe {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: .2;
  margin-bottom: .02rem;
}

.btn {
  cursor: pointer;
  margin-bottom: 2%;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card-projects:after {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  .content {
    -webkit-transform: translateY(calc(100% - 4.5rem));
            transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
  }

  .card-projects:hover,
  .card-projects:focus-within {
    -webkit-box-align: center;
            align-items: center;
  }
  .card-projects:hover:before,
  .card-projects:focus-within:before {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  .card-projects:hover:after,
  .card-projects:focus-within:after {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .card-projects:hover .content,
  .card-projects:focus-within .content {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .card-projects:hover .content > *:not(.title),
  .card-projects:focus-within .content > *:not(.title) {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
            transition-delay: calc(var(--d) / 8);
  }

  .card-projects:focus-within:before, .card-projects:focus-within:after,
  .card-projects:focus-within .content,
  .card-projects:focus-within .content > *:not(.title) {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
}

.featured {
  padding-top: 23%;

}