.container {
  margin: 250px auto;
  width: 768px;
  transform: scale(0.6);
}

.sun {
  background: linear-gradient(90deg, #BB513E, #994233);
  box-shadow: inset 15px 10px 0px #994233;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 105px auto;
  position: absolute;
  left: 0;
  right: 0;
}

.mercury {
  background: linear-gradient(90deg, #453217, #2a1f0e);
  box-shadow: inset 0px 7px 0px #2a1f0e;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 10px;
}

.venus {
  background: linear-gradient(90deg, #AC6339, #915430);
  box-shadow: inset 0px 7px 0px #7e492a;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 30px;
}

.earth {
  background: linear-gradient(90deg, #3E8EBB, #357aa0);
  box-shadow: inset 0px 7px 0px #2f6b8d;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 70px;
}

.mars {
  background: linear-gradient(90deg, #6F3125, #54251c);
  box-shadow: inset 0px 7px 0px #4d221a;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 110px;
}

.jupiter {
  background: linear-gradient(90deg, #3D2C14, #22190b);
  box-shadow: inset 0px 7px 0px #2a1e0e;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 160px;
}

.saturn {
  background: linear-gradient(90deg, #E97340, #e55c20);
  box-shadow: inset 0px 7px 0px #ca4d17;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 200px;
}

.uranus {
  background: linear-gradient(90deg, #337799, #2a627e);
  box-shadow: inset 0px 7px 0px #24536b;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 240px;
}

.neptune {
  background: linear-gradient(90deg, #6ACDC0, #4fc4b5);
  box-shadow: inset 0px 7px 0px #38a899;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 280px;
}

.pluto {
  background: linear-gradient(90deg, #C6C053, #b8b23d);
  box-shadow: inset 0px 7px 0px #a59f37;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 320px;
}

[class*=-orbit] {
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid;
  box-shadow: 0px 1px 1px #4096EE;
  border-radius: 100%;
}

.mercurys-orbit {
  width: 100px;
  height: 100px;
  margin: 85px auto;
  animation: gravity 0.60057s linear infinite;
}

.venus-orbit {
  width: 170px;
  height: 170px;
  margin: 50px auto;
  animation: gravity 3.3365s linear infinite;
}

.earths-orbit {
  width: 270px;
  height: 270px;
  margin: 0px auto;
  animation: gravity 6.673s linear infinite;
}

.mars-orbit {
  width: 370px;
  height: 370px;
  margin: -50px auto;
  animation: gravity 10.0095s linear infinite;
}

.jupiters-orbit {
  width: 470px;
  height: 470px;
  margin: -100px auto;
  animation: gravity 13.346s linear infinite;
}

.saturns-orbit {
  width: 570px;
  height: 570px;
  margin: -150px auto;
  animation: gravity 20.019s linear infinite;
}

.uranus-orbit {
  width: 670px;
  height: 670px;
  margin: -200px auto;
  animation: gravity 26.692s linear infinite;
}

.neptunes-orbit {
  width: 770px;
  height: 770px;
  margin: -250px auto;
  animation: gravity 33.365s linear infinite;
}

.plutos-orbit {
  width: 870px;
  height: 870px;
  margin: -300px auto;
  margin-left: -50px;
  animation: gravity 40.038s linear infinite;
}

.star-container {
  animation: gravity 200s linear infinite;
  width: 100%;
  height: 100%;
  position: absolute;
}

.star {
  background: #FFF;
  border-radius: 100px;
  width: 1px;
  height: 1px;
  position: absolute;
  filter: brightness(100);
}

.star:nth-of-type(1) {
  margin-left: 751px;
  margin-top: 527px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(2) {
  margin-left: 131px;
  margin-top: 704px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(3) {
  margin-left: 415px;
  margin-top: 386px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(4) {
  margin-left: 1558px;
  margin-top: 420px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(5) {
  margin-left: 2794px;
  margin-top: 313px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(6) {
  margin-left: 3625px;
  margin-top: 832px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(7) {
  margin-left: 1116px;
  margin-top: 158px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(8) {
  margin-left: 3414px;
  margin-top: 874px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(9) {
  margin-left: 3083px;
  margin-top: 447px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(10) {
  margin-left: 1979px;
  margin-top: 330px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(11) {
  margin-left: 708px;
  margin-top: 818px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(12) {
  margin-left: 961px;
  margin-top: 121px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(13) {
  margin-left: 2714px;
  margin-top: 452px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(14) {
  margin-left: 1179px;
  margin-top: 692px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(15) {
  margin-left: 1804px;
  margin-top: 369px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(16) {
  margin-left: 2967px;
  margin-top: 480px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(17) {
  margin-left: 2172px;
  margin-top: 719px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(18) {
  margin-left: 3537px;
  margin-top: 79px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(19) {
  margin-left: 2618px;
  margin-top: 45px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(20) {
  margin-left: 1719px;
  margin-top: 571px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(21) {
  margin-left: 459px;
  margin-top: 195px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(22) {
  margin-left: 2993px;
  margin-top: 213px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(23) {
  margin-left: 2608px;
  margin-top: 252px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(24) {
  margin-left: 2999px;
  margin-top: 416px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(25) {
  margin-left: 3930px;
  margin-top: 217px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(26) {
  margin-left: 1638px;
  margin-top: 673px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(27) {
  margin-left: 1728px;
  margin-top: 549px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(28) {
  margin-left: 85px;
  margin-top: 752px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(29) {
  margin-left: 121px;
  margin-top: 276px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(30) {
  margin-left: 2236px;
  margin-top: 815px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(31) {
  margin-left: 2166px;
  margin-top: 353px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(32) {
  margin-left: 3961px;
  margin-top: 355px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(33) {
  margin-left: 503px;
  margin-top: 159px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(34) {
  margin-left: 2097px;
  margin-top: 245px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(35) {
  margin-left: 2343px;
  margin-top: 128px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(36) {
  margin-left: 3215px;
  margin-top: 747px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(37) {
  margin-left: 3796px;
  margin-top: 148px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(38) {
  margin-left: 3276px;
  margin-top: 567px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(39) {
  margin-left: 3648px;
  margin-top: 137px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(40) {
  margin-left: 2340px;
  margin-top: 564px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(41) {
  margin-left: 2596px;
  margin-top: 43px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(42) {
  margin-left: 2408px;
  margin-top: 88px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(43) {
  margin-left: 465px;
  margin-top: 710px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(44) {
  margin-left: 234px;
  margin-top: 346px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(45) {
  margin-left: 114px;
  margin-top: 275px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(46) {
  margin-left: 465px;
  margin-top: 305px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(47) {
  margin-left: 3836px;
  margin-top: 795px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(48) {
  margin-left: 708px;
  margin-top: 718px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(49) {
  margin-left: 1211px;
  margin-top: 371px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(50) {
  margin-left: 1506px;
  margin-top: 295px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(51) {
  margin-left: 564px;
  margin-top: 761px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(52) {
  margin-left: 3505px;
  margin-top: 280px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(53) {
  margin-left: 828px;
  margin-top: 793px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(54) {
  margin-left: 547px;
  margin-top: 759px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(55) {
  margin-left: 1306px;
  margin-top: 610px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(56) {
  margin-left: 2230px;
  margin-top: 648px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(57) {
  margin-left: 136px;
  margin-top: 740px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(58) {
  margin-left: 1366px;
  margin-top: 807px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(59) {
  margin-left: 2270px;
  margin-top: 665px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(60) {
  margin-left: 3015px;
  margin-top: 413px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(61) {
  margin-left: 323px;
  margin-top: 821px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(62) {
  margin-left: 3399px;
  margin-top: 404px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(63) {
  margin-left: 2763px;
  margin-top: 30px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(64) {
  margin-left: 603px;
  margin-top: 602px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(65) {
  margin-left: 3356px;
  margin-top: 424px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(66) {
  margin-left: 1865px;
  margin-top: 556px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(67) {
  margin-left: 411px;
  margin-top: 31px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(68) {
  margin-left: 2156px;
  margin-top: 746px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(69) {
  margin-left: 3150px;
  margin-top: 197px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(70) {
  margin-left: 830px;
  margin-top: 866px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(71) {
  margin-left: 1922px;
  margin-top: 539px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(72) {
  margin-left: 2798px;
  margin-top: 751px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(73) {
  margin-left: 75px;
  margin-top: 897px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(74) {
  margin-left: 2804px;
  margin-top: 277px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(75) {
  margin-left: 2657px;
  margin-top: 536px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(76) {
  margin-left: 774px;
  margin-top: 401px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(77) {
  margin-left: 3053px;
  margin-top: 625px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(78) {
  margin-left: 186px;
  margin-top: 362px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(79) {
  margin-left: 3239px;
  margin-top: 440px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(80) {
  margin-left: 405px;
  margin-top: 133px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(81) {
  margin-left: 384px;
  margin-top: 519px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(82) {
  margin-left: 3107px;
  margin-top: 543px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(83) {
  margin-left: 1406px;
  margin-top: 204px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(84) {
  margin-left: 2194px;
  margin-top: 126px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(85) {
  margin-left: 2575px;
  margin-top: 292px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(86) {
  margin-left: 2521px;
  margin-top: 38px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(87) {
  margin-left: 2539px;
  margin-top: 822px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(88) {
  margin-left: 2960px;
  margin-top: 756px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(89) {
  margin-left: 3990px;
  margin-top: 606px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(90) {
  margin-left: 1806px;
  margin-top: 670px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(91) {
  margin-left: 2246px;
  margin-top: 684px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(92) {
  margin-left: 642px;
  margin-top: 498px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(93) {
  margin-left: 3504px;
  margin-top: 519px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(94) {
  margin-left: 3212px;
  margin-top: 758px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(95) {
  margin-left: 1617px;
  margin-top: 652px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(96) {
  margin-left: 807px;
  margin-top: 415px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(97) {
  margin-left: 3203px;
  margin-top: 397px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(98) {
  margin-left: 40px;
  margin-top: 160px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(99) {
  margin-left: 1916px;
  margin-top: 475px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(100) {
  margin-left: 82px;
  margin-top: 876px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(101) {
  margin-left: 1633px;
  margin-top: 454px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(102) {
  margin-left: 495px;
  margin-top: 210px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(103) {
  margin-left: 1851px;
  margin-top: 787px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(104) {
  margin-left: 1022px;
  margin-top: 800px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(105) {
  margin-left: 3947px;
  margin-top: 721px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(106) {
  margin-left: 1730px;
  margin-top: 830px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(107) {
  margin-left: 374px;
  margin-top: 22px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(108) {
  margin-left: 2106px;
  margin-top: 564px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(109) {
  margin-left: 3688px;
  margin-top: 694px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(110) {
  margin-left: 1069px;
  margin-top: 689px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(111) {
  margin-left: 3097px;
  margin-top: 519px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(112) {
  margin-left: 1016px;
  margin-top: 320px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(113) {
  margin-left: 686px;
  margin-top: 6px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(114) {
  margin-left: 877px;
  margin-top: 833px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(115) {
  margin-left: 428px;
  margin-top: 206px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(116) {
  margin-left: 307px;
  margin-top: 429px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(117) {
  margin-left: 3500px;
  margin-top: 816px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(118) {
  margin-left: 1253px;
  margin-top: 519px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(119) {
  margin-left: 303px;
  margin-top: 350px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(120) {
  margin-left: 3242px;
  margin-top: 480px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(121) {
  margin-left: 243px;
  margin-top: 839px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(122) {
  margin-left: 2045px;
  margin-top: 220px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(123) {
  margin-left: 1886px;
  margin-top: 583px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(124) {
  margin-left: 3111px;
  margin-top: 530px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(125) {
  margin-left: 763px;
  margin-top: 17px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(126) {
  margin-left: 132px;
  margin-top: 168px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(127) {
  margin-left: 182px;
  margin-top: 62px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(128) {
  margin-left: 2035px;
  margin-top: 775px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(129) {
  margin-left: 1827px;
  margin-top: 552px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(130) {
  margin-left: 560px;
  margin-top: 428px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(131) {
  margin-left: 3555px;
  margin-top: 571px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(132) {
  margin-left: 2724px;
  margin-top: 837px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(133) {
  margin-left: 2114px;
  margin-top: 698px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(134) {
  margin-left: 2299px;
  margin-top: 770px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(135) {
  margin-left: 2736px;
  margin-top: 125px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(136) {
  margin-left: 3887px;
  margin-top: 785px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(137) {
  margin-left: 3534px;
  margin-top: 851px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(138) {
  margin-left: 3318px;
  margin-top: 846px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(139) {
  margin-left: 1096px;
  margin-top: 533px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(140) {
  margin-left: 1847px;
  margin-top: 740px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(141) {
  margin-left: 3387px;
  margin-top: 325px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(142) {
  margin-left: 3245px;
  margin-top: 144px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(143) {
  margin-left: 1746px;
  margin-top: 364px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(144) {
  margin-left: 248px;
  margin-top: 16px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(145) {
  margin-left: 3388px;
  margin-top: 785px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(146) {
  margin-left: 211px;
  margin-top: 834px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(147) {
  margin-left: 3916px;
  margin-top: 624px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(148) {
  margin-left: 251px;
  margin-top: 244px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(149) {
  margin-left: 1338px;
  margin-top: 563px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(150) {
  margin-left: 3835px;
  margin-top: 273px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(151) {
  margin-left: 172px;
  margin-top: 872px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(152) {
  margin-left: 2852px;
  margin-top: 516px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(153) {
  margin-left: 2050px;
  margin-top: 830px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(154) {
  margin-left: 3418px;
  margin-top: 757px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(155) {
  margin-left: 3663px;
  margin-top: 481px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(156) {
  margin-left: 3636px;
  margin-top: 10px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(157) {
  margin-left: 3787px;
  margin-top: 223px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(158) {
  margin-left: 1704px;
  margin-top: 725px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(159) {
  margin-left: 3646px;
  margin-top: 605px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(160) {
  margin-left: 3192px;
  margin-top: 572px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(161) {
  margin-left: 78px;
  margin-top: 444px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(162) {
  margin-left: 554px;
  margin-top: 492px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(163) {
  margin-left: 1855px;
  margin-top: 696px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(164) {
  margin-left: 2814px;
  margin-top: 689px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(165) {
  margin-left: 1543px;
  margin-top: 184px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(166) {
  margin-left: 1249px;
  margin-top: 222px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(167) {
  margin-left: 664px;
  margin-top: 236px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(168) {
  margin-left: 1441px;
  margin-top: 393px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(169) {
  margin-left: 1823px;
  margin-top: 627px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(170) {
  margin-left: 2113px;
  margin-top: 529px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(171) {
  margin-left: 1711px;
  margin-top: 789px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(172) {
  margin-left: 1950px;
  margin-top: 184px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(173) {
  margin-left: 3323px;
  margin-top: 676px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(174) {
  margin-left: 795px;
  margin-top: 318px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(175) {
  margin-left: 3918px;
  margin-top: 416px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(176) {
  margin-left: 3460px;
  margin-top: 551px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(177) {
  margin-left: 2811px;
  margin-top: 576px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(178) {
  margin-left: 2488px;
  margin-top: 356px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(179) {
  margin-left: 3433px;
  margin-top: 224px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(180) {
  margin-left: 731px;
  margin-top: 850px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(181) {
  margin-left: 3284px;
  margin-top: 701px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(182) {
  margin-left: 1954px;
  margin-top: 463px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(183) {
  margin-left: 1778px;
  margin-top: 375px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(184) {
  margin-left: 1374px;
  margin-top: 800px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(185) {
  margin-left: 667px;
  margin-top: 479px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(186) {
  margin-left: 1841px;
  margin-top: 825px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(187) {
  margin-left: 2314px;
  margin-top: 67px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(188) {
  margin-left: 3389px;
  margin-top: 62px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(189) {
  margin-left: 3505px;
  margin-top: 395px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(190) {
  margin-left: 1299px;
  margin-top: 576px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(191) {
  margin-left: 1789px;
  margin-top: 811px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(192) {
  margin-left: 262px;
  margin-top: 130px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(193) {
  margin-left: 3336px;
  margin-top: 759px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(194) {
  margin-left: 442px;
  margin-top: 259px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(195) {
  margin-left: 226px;
  margin-top: 860px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(196) {
  margin-left: 1103px;
  margin-top: 797px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(197) {
  margin-left: 373px;
  margin-top: 517px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(198) {
  margin-left: 53px;
  margin-top: 131px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(199) {
  margin-left: 2007px;
  margin-top: 311px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(200) {
  margin-left: 3395px;
  margin-top: 714px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(201) {
  margin-left: 272px;
  margin-top: 139px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(202) {
  margin-left: 2137px;
  margin-top: 873px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(203) {
  margin-left: 3919px;
  margin-top: 244px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(204) {
  margin-left: 2221px;
  margin-top: 725px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(205) {
  margin-left: 326px;
  margin-top: 752px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(206) {
  margin-left: 1853px;
  margin-top: 17px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(207) {
  margin-left: 3329px;
  margin-top: 50px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(208) {
  margin-left: 3130px;
  margin-top: 775px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(209) {
  margin-left: 781px;
  margin-top: 500px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(210) {
  margin-left: 559px;
  margin-top: 494px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(211) {
  margin-left: 1009px;
  margin-top: 877px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(212) {
  margin-left: 3984px;
  margin-top: 705px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(213) {
  margin-left: 17px;
  margin-top: 560px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(214) {
  margin-left: 2900px;
  margin-top: 591px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(215) {
  margin-left: 1081px;
  margin-top: 691px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(216) {
  margin-left: 2170px;
  margin-top: 63px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(217) {
  margin-left: 1941px;
  margin-top: 515px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(218) {
  margin-left: 3184px;
  margin-top: 275px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(219) {
  margin-left: 3032px;
  margin-top: 383px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(220) {
  margin-left: 782px;
  margin-top: 14px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(221) {
  margin-left: 804px;
  margin-top: 839px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(222) {
  margin-left: 2658px;
  margin-top: 860px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(223) {
  margin-left: 3911px;
  margin-top: 797px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(224) {
  margin-left: 3716px;
  margin-top: 792px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(225) {
  margin-left: 1775px;
  margin-top: 550px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(226) {
  margin-left: 426px;
  margin-top: 222px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(227) {
  margin-left: 2233px;
  margin-top: 500px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(228) {
  margin-left: 3221px;
  margin-top: 181px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(229) {
  margin-left: 2262px;
  margin-top: 38px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(230) {
  margin-left: 792px;
  margin-top: 53px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(231) {
  margin-left: 2521px;
  margin-top: 428px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(232) {
  margin-left: 3628px;
  margin-top: 410px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(233) {
  margin-left: 2038px;
  margin-top: 476px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(234) {
  margin-left: 2135px;
  margin-top: 339px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(235) {
  margin-left: 1869px;
  margin-top: 228px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(236) {
  margin-left: 3369px;
  margin-top: 736px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(237) {
  margin-left: 1564px;
  margin-top: 540px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(238) {
  margin-left: 1637px;
  margin-top: 453px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(239) {
  margin-left: 583px;
  margin-top: 499px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(240) {
  margin-left: 383px;
  margin-top: 668px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(241) {
  margin-left: 177px;
  margin-top: 669px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(242) {
  margin-left: 3473px;
  margin-top: 431px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(243) {
  margin-left: 245px;
  margin-top: 239px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(244) {
  margin-left: 154px;
  margin-top: 650px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(245) {
  margin-left: 1120px;
  margin-top: 2px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(246) {
  margin-left: 587px;
  margin-top: 124px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(247) {
  margin-left: 3943px;
  margin-top: 831px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(248) {
  margin-left: 3719px;
  margin-top: 757px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(249) {
  margin-left: 1483px;
  margin-top: 19px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(250) {
  margin-left: 3635px;
  margin-top: 42px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(251) {
  margin-left: 63px;
  margin-top: 419px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(252) {
  margin-left: 3868px;
  margin-top: 554px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(253) {
  margin-left: 3852px;
  margin-top: 555px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(254) {
  margin-left: 172px;
  margin-top: 273px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(255) {
  margin-left: 710px;
  margin-top: 409px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(256) {
  margin-left: 2191px;
  margin-top: 874px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(257) {
  margin-left: 3111px;
  margin-top: 442px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(258) {
  margin-left: 1975px;
  margin-top: 391px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(259) {
  margin-left: 2731px;
  margin-top: 50px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(260) {
  margin-left: 1449px;
  margin-top: 165px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(261) {
  margin-left: 2667px;
  margin-top: 854px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(262) {
  margin-left: 3511px;
  margin-top: 586px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(263) {
  margin-left: 2038px;
  margin-top: 243px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(264) {
  margin-left: 11px;
  margin-top: 547px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(265) {
  margin-left: 3942px;
  margin-top: 281px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(266) {
  margin-left: 1492px;
  margin-top: 221px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(267) {
  margin-left: 2714px;
  margin-top: 345px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(268) {
  margin-left: 1339px;
  margin-top: 433px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(269) {
  margin-left: 420px;
  margin-top: 122px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(270) {
  margin-left: 2090px;
  margin-top: 596px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(271) {
  margin-left: 1803px;
  margin-top: 694px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(272) {
  margin-left: 791px;
  margin-top: 523px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(273) {
  margin-left: 1474px;
  margin-top: 788px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(274) {
  margin-left: 580px;
  margin-top: 618px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(275) {
  margin-left: 1661px;
  margin-top: 357px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(276) {
  margin-left: 300px;
  margin-top: 504px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(277) {
  margin-left: 1450px;
  margin-top: 91px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(278) {
  margin-left: 559px;
  margin-top: 358px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(279) {
  margin-left: 419px;
  margin-top: 726px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(280) {
  margin-left: 2056px;
  margin-top: 272px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(281) {
  margin-left: 2070px;
  margin-top: 98px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(282) {
  margin-left: 3208px;
  margin-top: 661px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(283) {
  margin-left: 1841px;
  margin-top: 345px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(284) {
  margin-left: 2493px;
  margin-top: 253px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(285) {
  margin-left: 59px;
  margin-top: 628px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(286) {
  margin-left: 56px;
  margin-top: 208px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(287) {
  margin-left: 1541px;
  margin-top: 525px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(288) {
  margin-left: 1527px;
  margin-top: 96px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(289) {
  margin-left: 1447px;
  margin-top: 737px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(290) {
  margin-left: 1204px;
  margin-top: 77px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(291) {
  margin-left: 1588px;
  margin-top: 411px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(292) {
  margin-left: 1487px;
  margin-top: 491px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(293) {
  margin-left: 153px;
  margin-top: 829px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(294) {
  margin-left: 695px;
  margin-top: 627px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(295) {
  margin-left: 2002px;
  margin-top: 385px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(296) {
  margin-left: 3174px;
  margin-top: 495px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(297) {
  margin-left: 2574px;
  margin-top: 386px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(298) {
  margin-left: 524px;
  margin-top: 820px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(299) {
  margin-left: 813px;
  margin-top: 52px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(300) {
  margin-left: 3569px;
  margin-top: 433px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(301) {
  margin-left: 3626px;
  margin-top: 694px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(302) {
  margin-left: 924px;
  margin-top: 554px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(303) {
  margin-left: 3112px;
  margin-top: 127px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(304) {
  margin-left: 3889px;
  margin-top: 135px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(305) {
  margin-left: 2582px;
  margin-top: 697px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(306) {
  margin-left: 2490px;
  margin-top: 358px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(307) {
  margin-left: 3757px;
  margin-top: 880px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(308) {
  margin-left: 3289px;
  margin-top: 668px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(309) {
  margin-left: 451px;
  margin-top: 632px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(310) {
  margin-left: 1673px;
  margin-top: 249px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(311) {
  margin-left: 1117px;
  margin-top: 26px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(312) {
  margin-left: 2454px;
  margin-top: 774px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(313) {
  margin-left: 3230px;
  margin-top: 26px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(314) {
  margin-left: 2228px;
  margin-top: 80px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(315) {
  margin-left: 2193px;
  margin-top: 452px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(316) {
  margin-left: 2869px;
  margin-top: 383px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(317) {
  margin-left: 226px;
  margin-top: 705px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(318) {
  margin-left: 2346px;
  margin-top: 414px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(319) {
  margin-left: 3780px;
  margin-top: 836px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(320) {
  margin-left: 3545px;
  margin-top: 210px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(321) {
  margin-left: 2253px;
  margin-top: 641px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(322) {
  margin-left: 394px;
  margin-top: 467px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(323) {
  margin-left: 232px;
  margin-top: 526px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(324) {
  margin-left: 2606px;
  margin-top: 444px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(325) {
  margin-left: 1017px;
  margin-top: 589px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(326) {
  margin-left: 323px;
  margin-top: 772px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(327) {
  margin-left: 3999px;
  margin-top: 826px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(328) {
  margin-left: 73px;
  margin-top: 275px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(329) {
  margin-left: 3270px;
  margin-top: 799px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(330) {
  margin-left: 1102px;
  margin-top: 596px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(331) {
  margin-left: 1212px;
  margin-top: 93px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(332) {
  margin-left: 827px;
  margin-top: 110px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(333) {
  margin-left: 41px;
  margin-top: 232px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(334) {
  margin-left: 524px;
  margin-top: 584px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(335) {
  margin-left: 755px;
  margin-top: 865px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(336) {
  margin-left: 854px;
  margin-top: 180px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(337) {
  margin-left: 1127px;
  margin-top: 240px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(338) {
  margin-left: 179px;
  margin-top: 14px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(339) {
  margin-left: 1721px;
  margin-top: 177px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(340) {
  margin-left: 685px;
  margin-top: 200px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(341) {
  margin-left: 2816px;
  margin-top: 174px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(342) {
  margin-left: 761px;
  margin-top: 96px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(343) {
  margin-left: 1712px;
  margin-top: 395px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(344) {
  margin-left: 1747px;
  margin-top: 677px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(345) {
  margin-left: 1367px;
  margin-top: 355px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(346) {
  margin-left: 3479px;
  margin-top: 695px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(347) {
  margin-left: 373px;
  margin-top: 296px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(348) {
  margin-left: 849px;
  margin-top: 407px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(349) {
  margin-left: 2566px;
  margin-top: 557px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(350) {
  margin-left: 1557px;
  margin-top: 684px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(351) {
  margin-left: 1468px;
  margin-top: 88px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(352) {
  margin-left: 2919px;
  margin-top: 672px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(353) {
  margin-left: 1988px;
  margin-top: 716px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(354) {
  margin-left: 133px;
  margin-top: 60px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(355) {
  margin-left: 2430px;
  margin-top: 405px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(356) {
  margin-left: 836px;
  margin-top: 754px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(357) {
  margin-left: 2060px;
  margin-top: 789px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(358) {
  margin-left: 2856px;
  margin-top: 23px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(359) {
  margin-left: 1929px;
  margin-top: 433px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(360) {
  margin-left: 3020px;
  margin-top: 175px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(361) {
  margin-left: 712px;
  margin-top: 515px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(362) {
  margin-left: 3081px;
  margin-top: 511px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(363) {
  margin-left: 3875px;
  margin-top: 700px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(364) {
  margin-left: 357px;
  margin-top: 453px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(365) {
  margin-left: 3552px;
  margin-top: 548px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(366) {
  margin-left: 3066px;
  margin-top: 185px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(367) {
  margin-left: 1552px;
  margin-top: 25px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(368) {
  margin-left: 3319px;
  margin-top: 308px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(369) {
  margin-left: 3539px;
  margin-top: 30px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(370) {
  margin-left: 3183px;
  margin-top: 345px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(371) {
  margin-left: 932px;
  margin-top: 524px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(372) {
  margin-left: 2618px;
  margin-top: 809px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(373) {
  margin-left: 2157px;
  margin-top: 345px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(374) {
  margin-left: 1467px;
  margin-top: 597px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(375) {
  margin-left: 3034px;
  margin-top: 806px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(376) {
  margin-left: 2616px;
  margin-top: 51px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(377) {
  margin-left: 2018px;
  margin-top: 752px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(378) {
  margin-left: 1675px;
  margin-top: 703px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(379) {
  margin-left: 3044px;
  margin-top: 314px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(380) {
  margin-left: 3712px;
  margin-top: 770px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(381) {
  margin-left: 3238px;
  margin-top: 709px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(382) {
  margin-left: 333px;
  margin-top: 63px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(383) {
  margin-left: 375px;
  margin-top: 880px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(384) {
  margin-left: 622px;
  margin-top: 554px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(385) {
  margin-left: 1520px;
  margin-top: 22px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(386) {
  margin-left: 1367px;
  margin-top: 267px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(387) {
  margin-left: 3362px;
  margin-top: 337px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(388) {
  margin-left: 1553px;
  margin-top: 349px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(389) {
  margin-left: 1135px;
  margin-top: 328px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(390) {
  margin-left: 2534px;
  margin-top: 661px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(391) {
  margin-left: 852px;
  margin-top: 474px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(392) {
  margin-left: 865px;
  margin-top: 578px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(393) {
  margin-left: 3556px;
  margin-top: 407px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(394) {
  margin-left: 1611px;
  margin-top: 297px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(395) {
  margin-left: 3351px;
  margin-top: 38px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(396) {
  margin-left: 117px;
  margin-top: 579px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(397) {
  margin-left: 1424px;
  margin-top: 676px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(398) {
  margin-left: 704px;
  margin-top: 502px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(399) {
  margin-left: 3800px;
  margin-top: 402px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(400) {
  margin-left: 167px;
  margin-top: 583px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(401) {
  margin-left: 521px;
  margin-top: 523px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(402) {
  margin-left: 1878px;
  margin-top: 840px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(403) {
  margin-left: 1100px;
  margin-top: 51px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(404) {
  margin-left: 333px;
  margin-top: 281px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(405) {
  margin-left: 2674px;
  margin-top: 221px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(406) {
  margin-left: 491px;
  margin-top: 141px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(407) {
  margin-left: 1506px;
  margin-top: 707px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(408) {
  margin-left: 1498px;
  margin-top: 470px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(409) {
  margin-left: 598px;
  margin-top: 516px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(410) {
  margin-left: 2573px;
  margin-top: 475px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(411) {
  margin-left: 3506px;
  margin-top: 478px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(412) {
  margin-left: 3301px;
  margin-top: 630px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(413) {
  margin-left: 2856px;
  margin-top: 420px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(414) {
  margin-left: 3055px;
  margin-top: 381px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(415) {
  margin-left: 3362px;
  margin-top: 775px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(416) {
  margin-left: 3585px;
  margin-top: 733px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(417) {
  margin-left: 778px;
  margin-top: 873px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(418) {
  margin-left: 1162px;
  margin-top: 257px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(419) {
  margin-left: 2647px;
  margin-top: 130px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(420) {
  margin-left: 2088px;
  margin-top: 852px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(421) {
  margin-left: 2983px;
  margin-top: 401px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(422) {
  margin-left: 2447px;
  margin-top: 200px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(423) {
  margin-left: 1359px;
  margin-top: 279px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(424) {
  margin-left: 1669px;
  margin-top: 485px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(425) {
  margin-left: 593px;
  margin-top: 296px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(426) {
  margin-left: 3073px;
  margin-top: 144px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(427) {
  margin-left: 2281px;
  margin-top: 718px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(428) {
  margin-left: 1414px;
  margin-top: 230px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(429) {
  margin-left: 299px;
  margin-top: 6px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(430) {
  margin-left: 1795px;
  margin-top: 91px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(431) {
  margin-left: 3071px;
  margin-top: 401px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(432) {
  margin-left: 1593px;
  margin-top: 427px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(433) {
  margin-left: 2708px;
  margin-top: 738px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(434) {
  margin-left: 1119px;
  margin-top: 499px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(435) {
  margin-left: 3352px;
  margin-top: 879px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(436) {
  margin-left: 1540px;
  margin-top: 110px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(437) {
  margin-left: 441px;
  margin-top: 371px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(438) {
  margin-left: 3273px;
  margin-top: 775px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(439) {
  margin-left: 3685px;
  margin-top: 427px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(440) {
  margin-left: 210px;
  margin-top: 465px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(441) {
  margin-left: 2033px;
  margin-top: 741px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(442) {
  margin-left: 80px;
  margin-top: 860px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(443) {
  margin-left: 3304px;
  margin-top: 519px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(444) {
  margin-left: 2175px;
  margin-top: 468px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(445) {
  margin-left: 1823px;
  margin-top: 163px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(446) {
  margin-left: 2792px;
  margin-top: 127px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(447) {
  margin-left: 868px;
  margin-top: 151px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(448) {
  margin-left: 2041px;
  margin-top: 532px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(449) {
  margin-left: 3529px;
  margin-top: 417px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(450) {
  margin-left: 3761px;
  margin-top: 333px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(451) {
  margin-left: 909px;
  margin-top: 845px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(452) {
  margin-left: 1942px;
  margin-top: 263px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(453) {
  margin-left: 3458px;
  margin-top: 161px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(454) {
  margin-left: 757px;
  margin-top: 345px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(455) {
  margin-left: 2315px;
  margin-top: 444px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(456) {
  margin-left: 2702px;
  margin-top: 245px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(457) {
  margin-left: 2476px;
  margin-top: 699px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(458) {
  margin-left: 1644px;
  margin-top: 100px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(459) {
  margin-left: 87px;
  margin-top: 445px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(460) {
  margin-left: 1321px;
  margin-top: 527px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(461) {
  margin-left: 2241px;
  margin-top: 439px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(462) {
  margin-left: 3206px;
  margin-top: 234px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(463) {
  margin-left: 1274px;
  margin-top: 524px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(464) {
  margin-left: 1865px;
  margin-top: 776px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(465) {
  margin-left: 3003px;
  margin-top: 633px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(466) {
  margin-left: 3879px;
  margin-top: 182px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(467) {
  margin-left: 2959px;
  margin-top: 554px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(468) {
  margin-left: 3548px;
  margin-top: 588px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(469) {
  margin-left: 2370px;
  margin-top: 587px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(470) {
  margin-left: 976px;
  margin-top: 481px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(471) {
  margin-left: 3001px;
  margin-top: 284px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(472) {
  margin-left: 3397px;
  margin-top: 878px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(473) {
  margin-left: 3485px;
  margin-top: 651px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(474) {
  margin-left: 149px;
  margin-top: 320px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(475) {
  margin-left: 1644px;
  margin-top: 193px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(476) {
  margin-left: 3902px;
  margin-top: 871px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(477) {
  margin-left: 2741px;
  margin-top: 286px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(478) {
  margin-left: 2922px;
  margin-top: 17px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(479) {
  margin-left: 1891px;
  margin-top: 501px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(480) {
  margin-left: 625px;
  margin-top: 497px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(481) {
  margin-left: 3000px;
  margin-top: 388px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(482) {
  margin-left: 3119px;
  margin-top: 786px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(483) {
  margin-left: 835px;
  margin-top: 134px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(484) {
  margin-left: 3073px;
  margin-top: 876px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(485) {
  margin-left: 1870px;
  margin-top: 592px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(486) {
  margin-left: 1937px;
  margin-top: 536px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(487) {
  margin-left: 2256px;
  margin-top: 490px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(488) {
  margin-left: 2149px;
  margin-top: 561px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(489) {
  margin-left: 1155px;
  margin-top: 871px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(490) {
  margin-left: 2967px;
  margin-top: 293px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(491) {
  margin-left: 1889px;
  margin-top: 270px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(492) {
  margin-left: 986px;
  margin-top: 392px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(493) {
  margin-left: 464px;
  margin-top: 817px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(494) {
  margin-left: 1357px;
  margin-top: 404px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(495) {
  margin-left: 3279px;
  margin-top: 515px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(496) {
  margin-left: 3992px;
  margin-top: 419px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(497) {
  margin-left: 2804px;
  margin-top: 243px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(498) {
  margin-left: 1253px;
  margin-top: 684px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(499) {
  margin-left: 3863px;
  margin-top: 760px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(500) {
  margin-left: 2271px;
  margin-top: 523px;
  animation: flash 4s linear infinite;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=solar-system.css.map */