.container {
  margin: 250px auto;
  width: 768px;
  transform: scale(0.6);
}

.sun {
  background: linear-gradient(90deg, #BB513E, #994233);
  box-shadow: inset 15px 10px 0px #994233;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 105px auto;
  position: absolute;
  left: 0;
  right: 0;
}

.mercury {
  background: linear-gradient(90deg, #453217, #2a1f0e);
  box-shadow: inset 0px 7px 0px #2a1f0e;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 10px;
}

.venus {
  background: linear-gradient(90deg, #AC6339, #915430);
  box-shadow: inset 0px 7px 0px #7e492a;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 30px;
}

.earth {
  background: linear-gradient(90deg, #3E8EBB, #357aa0);
  box-shadow: inset 0px 7px 0px #2f6b8d;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 70px;
}

.mars {
  background: linear-gradient(90deg, #6F3125, #54251c);
  box-shadow: inset 0px 7px 0px #4d221a;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 110px;
}

.jupiter {
  background: linear-gradient(90deg, #3D2C14, #22190b);
  box-shadow: inset 0px 7px 0px #2a1e0e;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 160px;
}

.saturn {
  background: linear-gradient(90deg, #E97340, #e55c20);
  box-shadow: inset 0px 7px 0px #ca4d17;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 200px;
}

.uranus {
  background: linear-gradient(90deg, #337799, #2a627e);
  box-shadow: inset 0px 7px 0px #24536b;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 240px;
}

.neptune {
  background: linear-gradient(90deg, #6ACDC0, #4fc4b5);
  box-shadow: inset 0px 7px 0px #38a899;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 280px;
}

.pluto {
  background: linear-gradient(90deg, #C6C053, #b8b23d);
  box-shadow: inset 0px 7px 0px #a59f37;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-top: 320px;
}

[class*=-orbit] {
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid;
  box-shadow: 0px 1px 1px #4096EE;
  border-radius: 100%;
}

.mercurys-orbit {
  width: 100px;
  height: 100px;
  margin: 85px auto;
  animation: gravity 0.60057s linear infinite;
}

.venus-orbit {
  width: 170px;
  height: 170px;
  margin: 50px auto;
  animation: gravity 3.3365s linear infinite;
}

.earths-orbit {
  width: 270px;
  height: 270px;
  margin: 0px auto;
  animation: gravity 6.673s linear infinite;
}

.mars-orbit {
  width: 370px;
  height: 370px;
  margin: -50px auto;
  animation: gravity 10.0095s linear infinite;
}

.jupiters-orbit {
  width: 470px;
  height: 470px;
  margin: -100px auto;
  animation: gravity 13.346s linear infinite;
}

.saturns-orbit {
  width: 570px;
  height: 570px;
  margin: -150px auto;
  animation: gravity 20.019s linear infinite;
}

.uranus-orbit {
  width: 670px;
  height: 670px;
  margin: -200px auto;
  animation: gravity 26.692s linear infinite;
}

.neptunes-orbit {
  width: 770px;
  height: 770px;
  margin: -250px auto;
  animation: gravity 33.365s linear infinite;
}

.plutos-orbit {
  width: 870px;
  height: 870px;
  margin: -300px auto;
  margin-left: -50px;
  animation: gravity 40.038s linear infinite;
}

.star-container {
  animation: gravity 200s linear infinite;
  width: 100%;
  height: 100%;
  position: absolute;
}

.star {
  background: #FFF;
  border-radius: 100px;
  width: 1px;
  height: 1px;
  position: absolute;
  filter: brightness(100);
}

.star:nth-of-type(1) {
  margin-left: 453px;
  margin-top: 545px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(2) {
  margin-left: 3274px;
  margin-top: 627px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(3) {
  margin-left: 1436px;
  margin-top: 286px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(4) {
  margin-left: 285px;
  margin-top: 708px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(5) {
  margin-left: 2053px;
  margin-top: 132px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(6) {
  margin-left: 3576px;
  margin-top: 371px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(7) {
  margin-left: 3800px;
  margin-top: 871px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(8) {
  margin-left: 1231px;
  margin-top: 69px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(9) {
  margin-left: 3323px;
  margin-top: 16px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(10) {
  margin-left: 2662px;
  margin-top: 772px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(11) {
  margin-left: 1006px;
  margin-top: 476px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(12) {
  margin-left: 499px;
  margin-top: 307px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(13) {
  margin-left: 115px;
  margin-top: 366px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(14) {
  margin-left: 1730px;
  margin-top: 508px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(15) {
  margin-left: 2816px;
  margin-top: 498px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(16) {
  margin-left: 335px;
  margin-top: 506px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(17) {
  margin-left: 499px;
  margin-top: 211px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(18) {
  margin-left: 177px;
  margin-top: 765px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(19) {
  margin-left: 1512px;
  margin-top: 23px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(20) {
  margin-left: 2795px;
  margin-top: 528px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(21) {
  margin-left: 48px;
  margin-top: 106px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(22) {
  margin-left: 621px;
  margin-top: 329px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(23) {
  margin-left: 3965px;
  margin-top: 275px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(24) {
  margin-left: 1142px;
  margin-top: 496px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(25) {
  margin-left: 1466px;
  margin-top: 8px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(26) {
  margin-left: 987px;
  margin-top: 246px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(27) {
  margin-left: 2430px;
  margin-top: 25px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(28) {
  margin-left: 2171px;
  margin-top: 765px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(29) {
  margin-left: 3536px;
  margin-top: 565px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(30) {
  margin-left: 2240px;
  margin-top: 878px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(31) {
  margin-left: 2311px;
  margin-top: 253px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(32) {
  margin-left: 3108px;
  margin-top: 32px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(33) {
  margin-left: 3497px;
  margin-top: 799px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(34) {
  margin-left: 1889px;
  margin-top: 518px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(35) {
  margin-left: 2763px;
  margin-top: 630px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(36) {
  margin-left: 2480px;
  margin-top: 540px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(37) {
  margin-left: 3751px;
  margin-top: 648px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(38) {
  margin-left: 3368px;
  margin-top: 489px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(39) {
  margin-left: 3078px;
  margin-top: 556px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(40) {
  margin-left: 824px;
  margin-top: 747px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(41) {
  margin-left: 8px;
  margin-top: 579px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(42) {
  margin-left: 2281px;
  margin-top: 848px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(43) {
  margin-left: 2390px;
  margin-top: 161px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(44) {
  margin-left: 3898px;
  margin-top: 614px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(45) {
  margin-left: 3218px;
  margin-top: 672px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(46) {
  margin-left: 1959px;
  margin-top: 772px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(47) {
  margin-left: 253px;
  margin-top: 443px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(48) {
  margin-left: 555px;
  margin-top: 182px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(49) {
  margin-left: 3301px;
  margin-top: 459px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(50) {
  margin-left: 1530px;
  margin-top: 836px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(51) {
  margin-left: 214px;
  margin-top: 608px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(52) {
  margin-left: 397px;
  margin-top: 466px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(53) {
  margin-left: 1299px;
  margin-top: 703px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(54) {
  margin-left: 948px;
  margin-top: 404px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(55) {
  margin-left: 2627px;
  margin-top: 838px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(56) {
  margin-left: 1108px;
  margin-top: 699px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(57) {
  margin-left: 1617px;
  margin-top: 667px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(58) {
  margin-left: 1229px;
  margin-top: 298px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(59) {
  margin-left: 1168px;
  margin-top: 657px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(60) {
  margin-left: 1090px;
  margin-top: 600px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(61) {
  margin-left: 3786px;
  margin-top: 182px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(62) {
  margin-left: 786px;
  margin-top: 106px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(63) {
  margin-left: 1275px;
  margin-top: 70px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(64) {
  margin-left: 1107px;
  margin-top: 49px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(65) {
  margin-left: 2993px;
  margin-top: 859px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(66) {
  margin-left: 2501px;
  margin-top: 306px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(67) {
  margin-left: 1255px;
  margin-top: 557px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(68) {
  margin-left: 3264px;
  margin-top: 432px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(69) {
  margin-left: 759px;
  margin-top: 766px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(70) {
  margin-left: 2232px;
  margin-top: 401px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(71) {
  margin-left: 1872px;
  margin-top: 108px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(72) {
  margin-left: 3977px;
  margin-top: 874px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(73) {
  margin-left: 1021px;
  margin-top: 866px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(74) {
  margin-left: 2727px;
  margin-top: 26px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(75) {
  margin-left: 1511px;
  margin-top: 151px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(76) {
  margin-left: 2821px;
  margin-top: 614px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(77) {
  margin-left: 993px;
  margin-top: 763px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(78) {
  margin-left: 95px;
  margin-top: 475px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(79) {
  margin-left: 3882px;
  margin-top: 699px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(80) {
  margin-left: 1469px;
  margin-top: 497px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(81) {
  margin-left: 2198px;
  margin-top: 789px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(82) {
  margin-left: 1169px;
  margin-top: 785px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(83) {
  margin-left: 2194px;
  margin-top: 240px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(84) {
  margin-left: 1859px;
  margin-top: 881px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(85) {
  margin-left: 430px;
  margin-top: 736px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(86) {
  margin-left: 2531px;
  margin-top: 721px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(87) {
  margin-left: 1849px;
  margin-top: 742px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(88) {
  margin-left: 3279px;
  margin-top: 200px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(89) {
  margin-left: 1713px;
  margin-top: 209px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(90) {
  margin-left: 467px;
  margin-top: 533px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(91) {
  margin-left: 759px;
  margin-top: 674px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(92) {
  margin-left: 73px;
  margin-top: 896px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(93) {
  margin-left: 1479px;
  margin-top: 873px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(94) {
  margin-left: 669px;
  margin-top: 774px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(95) {
  margin-left: 2290px;
  margin-top: 660px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(96) {
  margin-left: 2355px;
  margin-top: 260px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(97) {
  margin-left: 3419px;
  margin-top: 88px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(98) {
  margin-left: 2840px;
  margin-top: 601px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(99) {
  margin-left: 504px;
  margin-top: 720px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(100) {
  margin-left: 611px;
  margin-top: 39px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(101) {
  margin-left: 1842px;
  margin-top: 781px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(102) {
  margin-left: 995px;
  margin-top: 762px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(103) {
  margin-left: 1336px;
  margin-top: 56px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(104) {
  margin-left: 68px;
  margin-top: 310px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(105) {
  margin-left: 1761px;
  margin-top: 513px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(106) {
  margin-left: 2350px;
  margin-top: 784px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(107) {
  margin-left: 3881px;
  margin-top: 334px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(108) {
  margin-left: 349px;
  margin-top: 387px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(109) {
  margin-left: 3174px;
  margin-top: 738px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(110) {
  margin-left: 2333px;
  margin-top: 58px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(111) {
  margin-left: 2242px;
  margin-top: 248px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(112) {
  margin-left: 443px;
  margin-top: 273px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(113) {
  margin-left: 2191px;
  margin-top: 542px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(114) {
  margin-left: 1194px;
  margin-top: 306px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(115) {
  margin-left: 2843px;
  margin-top: 484px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(116) {
  margin-left: 2683px;
  margin-top: 767px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(117) {
  margin-left: 172px;
  margin-top: 587px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(118) {
  margin-left: 1512px;
  margin-top: 428px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(119) {
  margin-left: 75px;
  margin-top: 262px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(120) {
  margin-left: 264px;
  margin-top: 79px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(121) {
  margin-left: 1785px;
  margin-top: 113px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(122) {
  margin-left: 3437px;
  margin-top: 596px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(123) {
  margin-left: 2477px;
  margin-top: 177px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(124) {
  margin-left: 1343px;
  margin-top: 897px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(125) {
  margin-left: 226px;
  margin-top: 220px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(126) {
  margin-left: 788px;
  margin-top: 127px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(127) {
  margin-left: 2722px;
  margin-top: 421px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(128) {
  margin-left: 167px;
  margin-top: 610px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(129) {
  margin-left: 2416px;
  margin-top: 70px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(130) {
  margin-left: 2997px;
  margin-top: 88px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(131) {
  margin-left: 278px;
  margin-top: 198px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(132) {
  margin-left: 3721px;
  margin-top: 38px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(133) {
  margin-left: 3996px;
  margin-top: 483px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(134) {
  margin-left: 3732px;
  margin-top: 854px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(135) {
  margin-left: 1913px;
  margin-top: 692px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(136) {
  margin-left: 1473px;
  margin-top: 37px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(137) {
  margin-left: 311px;
  margin-top: 732px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(138) {
  margin-left: 356px;
  margin-top: 846px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(139) {
  margin-left: 3221px;
  margin-top: 279px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(140) {
  margin-left: 393px;
  margin-top: 260px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(141) {
  margin-left: 1028px;
  margin-top: 139px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(142) {
  margin-left: 1032px;
  margin-top: 52px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(143) {
  margin-left: 3491px;
  margin-top: 673px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(144) {
  margin-left: 3854px;
  margin-top: 8px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(145) {
  margin-left: 3652px;
  margin-top: 54px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(146) {
  margin-left: 128px;
  margin-top: 760px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(147) {
  margin-left: 2188px;
  margin-top: 816px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(148) {
  margin-left: 1353px;
  margin-top: 709px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(149) {
  margin-left: 1815px;
  margin-top: 777px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(150) {
  margin-left: 456px;
  margin-top: 389px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(151) {
  margin-left: 2221px;
  margin-top: 778px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(152) {
  margin-left: 1533px;
  margin-top: 515px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(153) {
  margin-left: 3704px;
  margin-top: 67px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(154) {
  margin-left: 3607px;
  margin-top: 416px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(155) {
  margin-left: 2994px;
  margin-top: 222px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(156) {
  margin-left: 96px;
  margin-top: 95px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(157) {
  margin-left: 3594px;
  margin-top: 453px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(158) {
  margin-left: 1299px;
  margin-top: 237px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(159) {
  margin-left: 837px;
  margin-top: 159px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(160) {
  margin-left: 789px;
  margin-top: 312px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(161) {
  margin-left: 1011px;
  margin-top: 69px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(162) {
  margin-left: 1980px;
  margin-top: 847px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(163) {
  margin-left: 2126px;
  margin-top: 151px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(164) {
  margin-left: 2925px;
  margin-top: 468px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(165) {
  margin-left: 2388px;
  margin-top: 293px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(166) {
  margin-left: 3819px;
  margin-top: 836px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(167) {
  margin-left: 771px;
  margin-top: 874px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(168) {
  margin-left: 32px;
  margin-top: 142px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(169) {
  margin-left: 1931px;
  margin-top: 255px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(170) {
  margin-left: 588px;
  margin-top: 134px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(171) {
  margin-left: 576px;
  margin-top: 181px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(172) {
  margin-left: 86px;
  margin-top: 350px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(173) {
  margin-left: 2170px;
  margin-top: 789px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(174) {
  margin-left: 797px;
  margin-top: 889px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(175) {
  margin-left: 96px;
  margin-top: 40px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(176) {
  margin-left: 2918px;
  margin-top: 295px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(177) {
  margin-left: 2244px;
  margin-top: 460px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(178) {
  margin-left: 177px;
  margin-top: 638px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(179) {
  margin-left: 2670px;
  margin-top: 237px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(180) {
  margin-left: 469px;
  margin-top: 894px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(181) {
  margin-left: 748px;
  margin-top: 897px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(182) {
  margin-left: 725px;
  margin-top: 864px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(183) {
  margin-left: 1625px;
  margin-top: 663px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(184) {
  margin-left: 2745px;
  margin-top: 897px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(185) {
  margin-left: 1256px;
  margin-top: 488px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(186) {
  margin-left: 1413px;
  margin-top: 791px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(187) {
  margin-left: 977px;
  margin-top: 212px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(188) {
  margin-left: 185px;
  margin-top: 253px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(189) {
  margin-left: 1270px;
  margin-top: 690px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(190) {
  margin-left: 2003px;
  margin-top: 8px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(191) {
  margin-left: 259px;
  margin-top: 12px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(192) {
  margin-left: 2467px;
  margin-top: 165px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(193) {
  margin-left: 3059px;
  margin-top: 379px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(194) {
  margin-left: 3596px;
  margin-top: 417px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(195) {
  margin-left: 1583px;
  margin-top: 666px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(196) {
  margin-left: 503px;
  margin-top: 404px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(197) {
  margin-left: 154px;
  margin-top: 190px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(198) {
  margin-left: 975px;
  margin-top: 16px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(199) {
  margin-left: 1097px;
  margin-top: 661px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(200) {
  margin-left: 2935px;
  margin-top: 535px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(201) {
  margin-left: 3734px;
  margin-top: 712px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(202) {
  margin-left: 3629px;
  margin-top: 415px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(203) {
  margin-left: 1167px;
  margin-top: 9px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(204) {
  margin-left: 2644px;
  margin-top: 636px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(205) {
  margin-left: 1208px;
  margin-top: 193px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(206) {
  margin-left: 712px;
  margin-top: 858px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(207) {
  margin-left: 2489px;
  margin-top: 766px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(208) {
  margin-left: 1779px;
  margin-top: 565px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(209) {
  margin-left: 356px;
  margin-top: 211px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(210) {
  margin-left: 2837px;
  margin-top: 283px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(211) {
  margin-left: 3651px;
  margin-top: 470px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(212) {
  margin-left: 2027px;
  margin-top: 380px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(213) {
  margin-left: 3082px;
  margin-top: 890px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(214) {
  margin-left: 293px;
  margin-top: 340px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(215) {
  margin-left: 2252px;
  margin-top: 711px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(216) {
  margin-left: 3652px;
  margin-top: 622px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(217) {
  margin-left: 3680px;
  margin-top: 45px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(218) {
  margin-left: 2442px;
  margin-top: 319px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(219) {
  margin-left: 1888px;
  margin-top: 698px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(220) {
  margin-left: 986px;
  margin-top: 569px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(221) {
  margin-left: 2466px;
  margin-top: 90px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(222) {
  margin-left: 1424px;
  margin-top: 369px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(223) {
  margin-left: 3278px;
  margin-top: 841px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(224) {
  margin-left: 3787px;
  margin-top: 125px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(225) {
  margin-left: 2362px;
  margin-top: 409px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(226) {
  margin-left: 3702px;
  margin-top: 701px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(227) {
  margin-left: 2996px;
  margin-top: 469px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(228) {
  margin-left: 1553px;
  margin-top: 498px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(229) {
  margin-left: 381px;
  margin-top: 737px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(230) {
  margin-left: 1761px;
  margin-top: 376px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(231) {
  margin-left: 3087px;
  margin-top: 761px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(232) {
  margin-left: 1008px;
  margin-top: 670px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(233) {
  margin-left: 2324px;
  margin-top: 143px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(234) {
  margin-left: 2344px;
  margin-top: 895px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(235) {
  margin-left: 2046px;
  margin-top: 55px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(236) {
  margin-left: 3130px;
  margin-top: 111px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(237) {
  margin-left: 1014px;
  margin-top: 190px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(238) {
  margin-left: 2292px;
  margin-top: 681px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(239) {
  margin-left: 3133px;
  margin-top: 291px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(240) {
  margin-left: 3828px;
  margin-top: 389px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(241) {
  margin-left: 2156px;
  margin-top: 888px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(242) {
  margin-left: 1587px;
  margin-top: 764px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(243) {
  margin-left: 3746px;
  margin-top: 645px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(244) {
  margin-left: 312px;
  margin-top: 370px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(245) {
  margin-left: 185px;
  margin-top: 772px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(246) {
  margin-left: 311px;
  margin-top: 891px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(247) {
  margin-left: 1843px;
  margin-top: 37px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(248) {
  margin-left: 2821px;
  margin-top: 813px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(249) {
  margin-left: 2564px;
  margin-top: 158px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(250) {
  margin-left: 2830px;
  margin-top: 463px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(251) {
  margin-left: 1685px;
  margin-top: 161px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(252) {
  margin-left: 1495px;
  margin-top: 860px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(253) {
  margin-left: 3011px;
  margin-top: 111px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(254) {
  margin-left: 1877px;
  margin-top: 788px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(255) {
  margin-left: 3946px;
  margin-top: 434px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(256) {
  margin-left: 2565px;
  margin-top: 855px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(257) {
  margin-left: 2771px;
  margin-top: 236px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(258) {
  margin-left: 3888px;
  margin-top: 210px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(259) {
  margin-left: 1644px;
  margin-top: 731px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(260) {
  margin-left: 722px;
  margin-top: 87px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(261) {
  margin-left: 2149px;
  margin-top: 813px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(262) {
  margin-left: 1708px;
  margin-top: 613px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(263) {
  margin-left: 3347px;
  margin-top: 720px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(264) {
  margin-left: 1480px;
  margin-top: 769px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(265) {
  margin-left: 2840px;
  margin-top: 617px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(266) {
  margin-left: 152px;
  margin-top: 337px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(267) {
  margin-left: 612px;
  margin-top: 600px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(268) {
  margin-left: 3483px;
  margin-top: 721px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(269) {
  margin-left: 3432px;
  margin-top: 163px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(270) {
  margin-left: 1701px;
  margin-top: 223px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(271) {
  margin-left: 1822px;
  margin-top: 196px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(272) {
  margin-left: 3007px;
  margin-top: 527px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(273) {
  margin-left: 2888px;
  margin-top: 857px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(274) {
  margin-left: 2810px;
  margin-top: 786px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(275) {
  margin-left: 1895px;
  margin-top: 659px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(276) {
  margin-left: 1067px;
  margin-top: 283px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(277) {
  margin-left: 1360px;
  margin-top: 642px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(278) {
  margin-left: 254px;
  margin-top: 148px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(279) {
  margin-left: 946px;
  margin-top: 59px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(280) {
  margin-left: 2495px;
  margin-top: 654px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(281) {
  margin-left: 3575px;
  margin-top: 714px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(282) {
  margin-left: 2961px;
  margin-top: 455px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(283) {
  margin-left: 500px;
  margin-top: 575px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(284) {
  margin-left: 371px;
  margin-top: 505px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(285) {
  margin-left: 706px;
  margin-top: 841px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(286) {
  margin-left: 3000px;
  margin-top: 45px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(287) {
  margin-left: 2769px;
  margin-top: 609px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(288) {
  margin-left: 3016px;
  margin-top: 876px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(289) {
  margin-left: 3911px;
  margin-top: 80px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(290) {
  margin-left: 829px;
  margin-top: 895px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(291) {
  margin-left: 1024px;
  margin-top: 109px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(292) {
  margin-left: 3392px;
  margin-top: 261px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(293) {
  margin-left: 1058px;
  margin-top: 819px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(294) {
  margin-left: 1036px;
  margin-top: 181px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(295) {
  margin-left: 2412px;
  margin-top: 611px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(296) {
  margin-left: 111px;
  margin-top: 622px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(297) {
  margin-left: 3616px;
  margin-top: 317px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(298) {
  margin-left: 270px;
  margin-top: 587px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(299) {
  margin-left: 2336px;
  margin-top: 5px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(300) {
  margin-left: 3559px;
  margin-top: 80px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(301) {
  margin-left: 2139px;
  margin-top: 406px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(302) {
  margin-left: 1710px;
  margin-top: 424px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(303) {
  margin-left: 2640px;
  margin-top: 780px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(304) {
  margin-left: 402px;
  margin-top: 438px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(305) {
  margin-left: 1674px;
  margin-top: 431px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(306) {
  margin-left: 1803px;
  margin-top: 566px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(307) {
  margin-left: 3858px;
  margin-top: 417px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(308) {
  margin-left: 894px;
  margin-top: 759px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(309) {
  margin-left: 6px;
  margin-top: 719px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(310) {
  margin-left: 2364px;
  margin-top: 120px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(311) {
  margin-left: 1852px;
  margin-top: 442px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(312) {
  margin-left: 2287px;
  margin-top: 744px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(313) {
  margin-left: 294px;
  margin-top: 377px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(314) {
  margin-left: 3260px;
  margin-top: 633px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(315) {
  margin-left: 2259px;
  margin-top: 209px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(316) {
  margin-left: 1176px;
  margin-top: 556px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(317) {
  margin-left: 3843px;
  margin-top: 215px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(318) {
  margin-left: 778px;
  margin-top: 362px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(319) {
  margin-left: 2853px;
  margin-top: 89px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(320) {
  margin-left: 3954px;
  margin-top: 369px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(321) {
  margin-left: 2568px;
  margin-top: 208px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(322) {
  margin-left: 2477px;
  margin-top: 659px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(323) {
  margin-left: 664px;
  margin-top: 482px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(324) {
  margin-left: 1344px;
  margin-top: 193px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(325) {
  margin-left: 3820px;
  margin-top: 880px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(326) {
  margin-left: 491px;
  margin-top: 449px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(327) {
  margin-left: 3250px;
  margin-top: 262px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(328) {
  margin-left: 2203px;
  margin-top: 688px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(329) {
  margin-left: 3915px;
  margin-top: 480px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(330) {
  margin-left: 2162px;
  margin-top: 425px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(331) {
  margin-left: 2340px;
  margin-top: 258px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(332) {
  margin-left: 698px;
  margin-top: 685px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(333) {
  margin-left: 940px;
  margin-top: 609px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(334) {
  margin-left: 2741px;
  margin-top: 888px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(335) {
  margin-left: 3044px;
  margin-top: 735px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(336) {
  margin-left: 1051px;
  margin-top: 303px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(337) {
  margin-left: 2796px;
  margin-top: 727px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(338) {
  margin-left: 729px;
  margin-top: 103px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(339) {
  margin-left: 46px;
  margin-top: 601px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(340) {
  margin-left: 1835px;
  margin-top: 753px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(341) {
  margin-left: 432px;
  margin-top: 78px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(342) {
  margin-left: 1840px;
  margin-top: 610px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(343) {
  margin-left: 2036px;
  margin-top: 704px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(344) {
  margin-left: 2779px;
  margin-top: 764px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(345) {
  margin-left: 926px;
  margin-top: 151px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(346) {
  margin-left: 982px;
  margin-top: 513px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(347) {
  margin-left: 1625px;
  margin-top: 119px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(348) {
  margin-left: 255px;
  margin-top: 586px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(349) {
  margin-left: 3448px;
  margin-top: 695px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(350) {
  margin-left: 2812px;
  margin-top: 126px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(351) {
  margin-left: 2572px;
  margin-top: 442px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(352) {
  margin-left: 1424px;
  margin-top: 322px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(353) {
  margin-left: 2741px;
  margin-top: 651px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(354) {
  margin-left: 1668px;
  margin-top: 115px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(355) {
  margin-left: 1950px;
  margin-top: 671px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(356) {
  margin-left: 3045px;
  margin-top: 129px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(357) {
  margin-left: 2292px;
  margin-top: 138px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(358) {
  margin-left: 2393px;
  margin-top: 568px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(359) {
  margin-left: 1296px;
  margin-top: 9px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(360) {
  margin-left: 1344px;
  margin-top: 888px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(361) {
  margin-left: 2903px;
  margin-top: 387px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(362) {
  margin-left: 1632px;
  margin-top: 184px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(363) {
  margin-left: 1232px;
  margin-top: 385px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(364) {
  margin-left: 3789px;
  margin-top: 456px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(365) {
  margin-left: 2265px;
  margin-top: 302px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(366) {
  margin-left: 2527px;
  margin-top: 107px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(367) {
  margin-left: 3778px;
  margin-top: 707px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(368) {
  margin-left: 1570px;
  margin-top: 285px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(369) {
  margin-left: 1880px;
  margin-top: 187px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(370) {
  margin-left: 1721px;
  margin-top: 299px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(371) {
  margin-left: 2775px;
  margin-top: 242px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(372) {
  margin-left: 3822px;
  margin-top: 724px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(373) {
  margin-left: 3325px;
  margin-top: 497px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(374) {
  margin-left: 3519px;
  margin-top: 361px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(375) {
  margin-left: 208px;
  margin-top: 252px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(376) {
  margin-left: 369px;
  margin-top: 198px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(377) {
  margin-left: 3038px;
  margin-top: 504px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(378) {
  margin-left: 417px;
  margin-top: 585px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(379) {
  margin-left: 3508px;
  margin-top: 771px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(380) {
  margin-left: 3104px;
  margin-top: 817px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(381) {
  margin-left: 2315px;
  margin-top: 534px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(382) {
  margin-left: 2300px;
  margin-top: 411px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(383) {
  margin-left: 650px;
  margin-top: 399px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(384) {
  margin-left: 3717px;
  margin-top: 793px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(385) {
  margin-left: 3791px;
  margin-top: 517px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(386) {
  margin-left: 3475px;
  margin-top: 218px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(387) {
  margin-left: 214px;
  margin-top: 6px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(388) {
  margin-left: 1614px;
  margin-top: 129px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(389) {
  margin-left: 2706px;
  margin-top: 885px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(390) {
  margin-left: 683px;
  margin-top: 853px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(391) {
  margin-left: 790px;
  margin-top: 692px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(392) {
  margin-left: 1027px;
  margin-top: 309px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(393) {
  margin-left: 39px;
  margin-top: 638px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(394) {
  margin-left: 3989px;
  margin-top: 239px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(395) {
  margin-left: 591px;
  margin-top: 92px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(396) {
  margin-left: 599px;
  margin-top: 273px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(397) {
  margin-left: 696px;
  margin-top: 407px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(398) {
  margin-left: 2287px;
  margin-top: 879px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(399) {
  margin-left: 157px;
  margin-top: 699px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(400) {
  margin-left: 3411px;
  margin-top: 488px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(401) {
  margin-left: 1505px;
  margin-top: 539px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(402) {
  margin-left: 910px;
  margin-top: 715px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(403) {
  margin-left: 2252px;
  margin-top: 176px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(404) {
  margin-left: 2804px;
  margin-top: 799px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(405) {
  margin-left: 966px;
  margin-top: 346px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(406) {
  margin-left: 2781px;
  margin-top: 393px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(407) {
  margin-left: 965px;
  margin-top: 404px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(408) {
  margin-left: 2479px;
  margin-top: 375px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(409) {
  margin-left: 1920px;
  margin-top: 741px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(410) {
  margin-left: 2044px;
  margin-top: 819px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(411) {
  margin-left: 2880px;
  margin-top: 487px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(412) {
  margin-left: 3438px;
  margin-top: 813px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(413) {
  margin-left: 981px;
  margin-top: 820px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(414) {
  margin-left: 2364px;
  margin-top: 241px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(415) {
  margin-left: 3539px;
  margin-top: 521px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(416) {
  margin-left: 2908px;
  margin-top: 296px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(417) {
  margin-left: 2286px;
  margin-top: 353px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(418) {
  margin-left: 2823px;
  margin-top: 677px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(419) {
  margin-left: 234px;
  margin-top: 851px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(420) {
  margin-left: 3350px;
  margin-top: 119px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(421) {
  margin-left: 3177px;
  margin-top: 764px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(422) {
  margin-left: 873px;
  margin-top: 343px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(423) {
  margin-left: 3706px;
  margin-top: 528px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(424) {
  margin-left: 1854px;
  margin-top: 694px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(425) {
  margin-left: 615px;
  margin-top: 743px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(426) {
  margin-left: 2290px;
  margin-top: 895px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(427) {
  margin-left: 3517px;
  margin-top: 688px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(428) {
  margin-left: 2301px;
  margin-top: 93px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(429) {
  margin-left: 3985px;
  margin-top: 747px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(430) {
  margin-left: 3172px;
  margin-top: 470px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(431) {
  margin-left: 663px;
  margin-top: 174px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(432) {
  margin-left: 3339px;
  margin-top: 55px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(433) {
  margin-left: 1614px;
  margin-top: 525px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(434) {
  margin-left: 2303px;
  margin-top: 864px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(435) {
  margin-left: 3007px;
  margin-top: 414px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(436) {
  margin-left: 444px;
  margin-top: 311px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(437) {
  margin-left: 2318px;
  margin-top: 458px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(438) {
  margin-left: 702px;
  margin-top: 90px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(439) {
  margin-left: 1433px;
  margin-top: 59px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(440) {
  margin-left: 3665px;
  margin-top: 19px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(441) {
  margin-left: 1546px;
  margin-top: 865px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(442) {
  margin-left: 3937px;
  margin-top: 38px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(443) {
  margin-left: 2317px;
  margin-top: 113px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(444) {
  margin-left: 1720px;
  margin-top: 196px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(445) {
  margin-left: 1709px;
  margin-top: 568px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(446) {
  margin-left: 3210px;
  margin-top: 652px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(447) {
  margin-left: 2965px;
  margin-top: 436px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(448) {
  margin-left: 272px;
  margin-top: 190px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(449) {
  margin-left: 1996px;
  margin-top: 365px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(450) {
  margin-left: 3390px;
  margin-top: 394px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(451) {
  margin-left: 1196px;
  margin-top: 416px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(452) {
  margin-left: 2728px;
  margin-top: 459px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(453) {
  margin-left: 442px;
  margin-top: 233px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(454) {
  margin-left: 3848px;
  margin-top: 787px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(455) {
  margin-left: 1392px;
  margin-top: 149px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(456) {
  margin-left: 43px;
  margin-top: 846px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(457) {
  margin-left: 221px;
  margin-top: 248px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(458) {
  margin-left: 2490px;
  margin-top: 118px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(459) {
  margin-left: 824px;
  margin-top: 722px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(460) {
  margin-left: 240px;
  margin-top: 73px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(461) {
  margin-left: 2083px;
  margin-top: 203px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(462) {
  margin-left: 2297px;
  margin-top: 353px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(463) {
  margin-left: 3409px;
  margin-top: 278px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(464) {
  margin-left: 144px;
  margin-top: 243px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(465) {
  margin-left: 2828px;
  margin-top: 279px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(466) {
  margin-left: 1167px;
  margin-top: 864px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(467) {
  margin-left: 1879px;
  margin-top: 605px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(468) {
  margin-left: 95px;
  margin-top: 423px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(469) {
  margin-left: 2693px;
  margin-top: 693px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(470) {
  margin-left: 1323px;
  margin-top: 140px;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(471) {
  margin-left: 3219px;
  margin-top: 205px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(472) {
  margin-left: 756px;
  margin-top: 600px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(473) {
  margin-left: 1377px;
  margin-top: 325px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(474) {
  margin-left: 3297px;
  margin-top: 231px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(475) {
  margin-left: 4px;
  margin-top: 811px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(476) {
  margin-left: 82px;
  margin-top: 514px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(477) {
  margin-left: 676px;
  margin-top: 842px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(478) {
  margin-left: 2107px;
  margin-top: 454px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(479) {
  margin-left: 2354px;
  margin-top: 328px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(480) {
  margin-left: 3572px;
  margin-top: 430px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(481) {
  margin-left: 1894px;
  margin-top: 596px;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(482) {
  margin-left: 2978px;
  margin-top: 339px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(483) {
  margin-left: 2174px;
  margin-top: 661px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(484) {
  margin-left: 474px;
  margin-top: 315px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(485) {
  margin-left: 2425px;
  margin-top: 467px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(486) {
  margin-left: 2899px;
  margin-top: 112px;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(487) {
  margin-left: 15px;
  margin-top: 658px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(488) {
  margin-left: 1792px;
  margin-top: 687px;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(489) {
  margin-left: 1477px;
  margin-top: 666px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(490) {
  margin-left: 897px;
  margin-top: 371px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(491) {
  margin-left: 1751px;
  margin-top: 738px;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(492) {
  margin-left: 3663px;
  margin-top: 629px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(493) {
  margin-left: 1784px;
  margin-top: 506px;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(494) {
  margin-left: 3441px;
  margin-top: 331px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(495) {
  margin-left: 721px;
  margin-top: 613px;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(496) {
  margin-left: 1946px;
  margin-top: 448px;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(497) {
  margin-left: 2246px;
  margin-top: 488px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(498) {
  margin-left: 3983px;
  margin-top: 318px;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(499) {
  margin-left: 627px;
  margin-top: 327px;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(500) {
  margin-left: 3073px;
  margin-top: 533px;
  animation: flash 8s linear infinite;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=solar-system.css.map */